:root {
  --onyx: #383d3b;
  --cyan: #4dd6dd;
  --khaki: #c6ac8f;
  --btn-hover: #342c6a;
  --purple: #52489c;
}

.nav-link {
  color: black;
  width: fit-content;
}

.active {
  background-color: var(--purple);
}

body {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  min-height: 100vh;
  background: rgb(180, 180, 180);
  background: linear-gradient(
    180deg,
    rgba(180, 180, 180, 1) 0%,
    rgba(220, 220, 220, 1) 100%
  );
}

ul {
  padding: 0px;
}

.border-purple {
  border-color: var(--purple) !important;
}

.background-purple {
  background-color: var(--purple);
}

.background-onyx {
  background-color: var(--onyx);
}

.btn {
  background-color: var(--purple);
  font-size: 18px;
}

#nameInput,
#emailInput,
#messageInput {
  font-size: 18px;
}

.icon-color {
  color: var(--purple);
}

.icon-position {
  margin-right: 6px;
  position: relative;
  bottom: 2px;
}

.text-purple {
  color: var(--purple);
}

.libre-baskerville-regular {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-regular {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-regular {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes reveal-from-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes reveal-from-bottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes indent {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(5px, 5px);
  }
}

.from-left {
  opacity: 0;
  animation-name: reveal-from-left;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

.from-bottom {
  opacity: 0;
  animation-name: reveal-from-bottom;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

.btn,
.project-link {
  transition: transform 0.3s;
}

.btn:hover,
.project-link:hover {
  transform: translate(3px, 3px);
}

.btn:hover {
  background-color: var(--btn-hover);
}

.delay-1 {
  animation-delay: 150ms;
}

.delay-2 {
  animation-delay: 200ms;
}

.delay-3 {
  animation-delay: 250ms;
}

.delay-4 {
  animation-delay: 300ms;
}

.delay-5 {
  animation-delay: 350ms;
}
