:root {
  --onyx: #383D3B;
  --light-purple: #7272AB;
  --cyan: #4dd6dd;
  --khaki: #C6AC8F;
  --btn-hover: #e2c4a4;
  --nav-hover: #434a47;
}

.nav-link {
  color: black;
}

.active {
  background-color: var(--onyx)
}

body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}

.background-cyan {
  background-color: var(--cyan);
}

.background-khaki {
  background-color: var(--khaki);
}

.background-onyx {
  background-color: var(--onyx);
}

.background-light-purple {
  background-color: var(--light-purple);
}

.btn {
  background-color: var(--khaki);
}

h2 {
  text-decoration: underline;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes reveal-from-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes reveal-from-bottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes indent {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(5px, 5px);
  }
}

.from-left {
  opacity: 0;
  animation-name: reveal-from-left;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

.from-bottom {
  opacity: 0;
  animation-name: reveal-from-bottom;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

.btn,
.nav-link {
  transition: transform 0.3s;
}

.btn:hover,
.nav-link:hover {
  transform: translate(3px, 3px);
}

.btn:hover {
  background-color: var(--btn-hover);
}

.delay-1 {
  animation-delay: 150ms;
}

.delay-2 {
  animation-delay: 200ms;
}

.delay-3 {
  animation-delay: 250ms;
}

.delay-4 {
  animation-delay: 300ms;
}